<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <connectionStrings>
    <add name="keywordsConnStr"
        connectionString="server=195.239.157.214; port=33060;
                           database=keywords;
                           user id=Keywords;
                           password=@KwDb0254;
                           sslmode=VerifyCA;
                           CertificateFile=C:\Users\Администратор\Documents\KeywordsCost New Version\CertFiles\client.pfx;
                           CertificatePassword=pass"
         
         providerName="MySql.Data.MySqlClient" />

  </connectionStrings>


  
</configuration>